.slider {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}


/* ==============
  slider background
============== */
.slider__background {
  position: absolute;
  top: 0;
  left: -100%;
  width: 300%;
  height: 100%;
  background: url(./images/background.png) 0 0 repeat;
  background-size: 33.3%;
}

.slider__background.part_0 {
  transform: translateX(0);
}

.slider__background.part_0.animated {
  transform: translateX(0);
  transition: transform .7s;
}

.slider__background.part_1.animated {
  transform: translateX(-11.1%);
  transition: transform .7s;
}

.slider__background.part_2.animated {
  transform: translateX(-22.2%);
  transition: transform .7s;
}

.slider__background.part_3.animated {
  transform: translateX(-33.3%);
  transition: transform .7s;
}

.slider__background.part_-1.animated {
  transform: translateX(11.1%);
  transition: transform .7s;
}

.slider__background.part_-2.animated {
  transform: translateX(22.2%);
  transition: transform .7s;
}

.slider__background.part_-3.animated {
  transform: translateX(33.3%);
  transition: transform .7s;
}


/* ==============
  slider container
============== */
.slider__container {
  position: relative;
  width: 100%;
  height: 100%;
}

.slider__item {
  position: absolute;
  float: left;
  width: 100%;
  height: 100%;
  line-height: 500px;
  text-align: center;
}

.slider__item-0 {
  left: -100%;
}

.slider__item-2 {
  left: 100%;
}


/* ==============
  slider directions
============== */
.slider__container.left-direction {
  transform: translateX(100%);
  transition: transform .7s;
}

.slider__container.right-direction {
  transform: translateX(-100%);
  transition: transform .7s;
}


/* ============
  slider buttons
============ */
.slider__button {
  display: flex;
  position: absolute;
  top: 50%;
  width: 6%;
  height: 10%;
  background: rgba(0, 0, 0, 0.3);
  border-radius: .2em;
  box-shadow: 0 0 .2em #000;
  cursor: pointer;
  transform: translateY(-50%);
  transition: all .15s;
  z-index: 9;
  justify-content: center;
  align-items: center;
}

.slider__button.to-left {
  left: 10px;
}

.slider__button.to-right {
  right: 10px;
}

.slider__button {
  color: #6882A1;
}

.slider__button:hover {
  color: #D81C27;
}

.slider__button:active {
  color: #94A6BC;
  box-shadow: 0 0 5px #000 inset;
}